ARM/
MOV/
HW/
SAMPLES/
HELLO/
.DS_Store
*.BAK
*.swp
*.lst
*.obj
*.backup
*.ans
*.tme
*.cnt
RESULTS
KEY/KEY.EXE
TABS/TABS.EXE
OKAY
TESTOUT
*.tmp
TABS/H.EXE
CURRENT.STS
FLOAT/FLOAT.EXE
*.CV4
MAZE/HP.EXE
